<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>nextit01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
<filter>
	<filter-name>First_EncodingFitler</filter-name>
	<filter-class>kr.or.nextit.common.util.NextITEncodingFilter</filter-class>
</filter>  
<filter-mapping>
	<filter-name>First_EncodingFitler</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>  
  
 
<filter>
	<filter-name>Second_IPCheckFitler</filter-name>
	<filter-class>kr.or.nextit.common.util.NextITIPCheckFilter</filter-class>
</filter>  
<filter-mapping>
	<filter-name>Second_IPCheckFitler</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>  
   
 
 <filter>
	<filter-name>Third_LoginCheckFitler</filter-name>
	<filter-class>kr.or.nextit.common.util.NextITLoginCheckFilter</filter-class>
</filter>  
<filter-mapping>
	<filter-name>Third_LoginCheckFitler</filter-name>
	<url-pattern>/home/*</url-pattern>
	<url-pattern>/free/*</url-pattern>
	<url-pattern>/member/*</url-pattern>
</filter-mapping>  
 
<servlet>
	<servlet-name>OracleDriverLoader</servlet-name>
	<servlet-class>kr.or.nextit.jdbc.OracleDriverLoader02</servlet-class>
	<load-on-startup>1</load-on-startup>
</servlet> 

<servlet>
	<servlet-name>NextITCenterServlet</servlet-name>
	<servlet-class>kr.or.nextit.servlet.NextITServlet</servlet-class>
	<load-on-startup>2</load-on-startup>
</servlet>
<servlet-mapping>
	<servlet-name>NextITCenterServlet</servlet-name>
	<url-pattern>*.do</url-pattern>
</servlet-mapping>






  
<error-page>
	<error-code>400</error-code>
	<location>/common/error/error400.jsp</location>
</error-page>  
<error-page>
	<error-code>403</error-code>
	<location>/common/error/error403.jsp</location>
</error-page>  
<error-page>
	<error-code>404</error-code>
	<location>/common/error/error404.jsp</location>
</error-page> 
<error-page>
	<error-code>500</error-code>
	<location>/common/error/error500.jsp</location>
</error-page>  
<error-page>
	<exception-type>java.lang.Throwable</exception-type>
	<location>/common/error/errorThrowable.jsp</location>
</error-page>  
  
  
  
</web-app>